body{
    margin: 0;
    padding: 0;
   background: linear-gradient(
     rgba(0,0,0,0.7),
     rgba(0,0,0,0.7)
),
  url('../images/restaurant-07.jpg');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    
}

.name1 {
	text-align:center;
	font-size: 40px;
	font-family: Monospace;
	color:rgb(0,0,255);
}

.but{
float: left;
list-style:none;
margine-top: 100px;
}

.but li{
display: inline-block;
}

.but li a{
color: white;
text-decoratin: none;
padding: 20px 30px;
font-family:"Roboto",sans-serif;
font-size: 20px;
}

.but li a:hover{
border:1px solid white;
}

.but li.active a{
border:1px solid white;
}