body{
    margin: 0;
    padding: 0;
   background: linear-gradient(
     rgba(0,0,0,0.4),
     rgba(0,0,0,0.4)
),
  url('../images2/119014802.jpg');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;

}


.name1 {
	text-align:center;
	font-size: 40px;
  font-family:fantacy,Papyrus;
	color:#DAA520;
}

.but{
float: left;
list-style:none;
margine-top: 100px;
}

.but li{
display: inline-block;
}

.but li a{
color: white;
text-decoratin: none;
padding: 20px 30px;
font-family:"Roboto",sans-serif;
font-size: 20px;
}

.but li a:hover{
border:1px solid white;
}

.but li.active a{
border:1px solid white;
}
